{
    "gemini-image":{
        "base_url": "https://generativelanguage.googleapis.com/v1beta/models",
        "api_key": "put your key here",
        "timeout": 120,
        "models": [
            "gemini-2.5-flash-image"
        ]
    },
    "ollama-vlm": {
        "base_url": "https://ollama.com/v1/chat/completions",
        "api_key": "",
        "timeout": 120,
        "models": [
            "qwen3-vl:235b"
        ]
    },
    "ollama-llm": {
        "base_url": "https://ollama.com/v1/chat/completions",
        "api_key": "",
        "timeout": 120,
        "models": [
            "glm-4.6",
            "kimi-k2:1t",
            "qwen3-coder:480b",
            "deepseek-v3.1:671b",
            "gpt-oss:120b"
        ]
    }
}